body {
     font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
   overflow: auto;
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
      "top top"
      "main main";
      
    height: 100%;
 background-color:	#eef0ee;
  grid-gap:3rem;
}

#topL{
  float:right;
}
.top{
  grid-area:top;
  }
.top{
  display:inline-block;
}

.listIngredi{
  float:right;
  margin-top:6rem;
  text-align:right;
  margin-right:-12rem;
}

.listIngredi .g{
  
  padding:.3rem;
  border-radius:30px;
  text-align:Center;
  color:white;
  cursor:pointer;
  background-color:	#5f7add;
  transition: background-color .8s;
   transition: color .8s;
}
.g:hover{
  background-color:white;
    color: 	#5f7add;
  

}

#searchFilter{
  margin:auto;
  margin-top:3rem;
 
}
#searcher{
  cursor:pointer;
}
input#search{
  margin: 0 auto;
  width: 35rem;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
}
 /* end top */

.main{
 
grid-area:main;
margin-top:-7rem;
  
}
.main span{
   
  border-radius:15px;
  height:25rem;
  width:20rem;
  padding:1rem;
 display:inline;
  padding-top:7rem;
  padding-bottom:7rem; 
  padding-left:5rem;
  padding-right:5rem; 
}

.a{
background-color:#f8d2a3;
  margin-left:4rem;
  width:19rem;
  float:left;
  height:15rem;
  padding:.5rem;
  border-radius:15px;
  margin-top:3rem;
}
.b{
 margin-right:15vw;
  background-color:green;
  width:19rem;
  float:right;
  height:15rem;
  padding:.5rem;
  border-radius:15px;
}
.bottom{
  margin-top:15rem;
}
.c{

margin-left:3rem;
background-color:green;
  margin-left:15vw;
  width:19rem;
  float:left;
  height:15rem;
  padding:.5rem;
  border-radius:15px;  
}
.d{
  margin-left:3rem;
margin-right:15vw;
  background-color:green;
  width:19rem;
  float:right;
  height:15rem;
  padding:.5rem;
  border-radius:15px;
}
.img{
  height:6rem;
  width:10rem;
  background-color:black;
}
.name{
float:right;
 font-size:.8rem;
 margin-right:4rem;
}
.prep{
  margin-top:1rem;
  font-size:.8rem;
}
.fa-filter{
  border: none;
  background: #6dc06e;
  padding-top:.80rem;
  padding-bottom:.90rem;
  padding-left:1rem;
  padding-right:1rem;
  transition: color 1s;
  transition: background-color 1s;
  cursor:pointer;
  color: #fff;
}
.fa-filter:hover{
  background-color:#559141;
}

.fa-search{
  border: none;
  background: #6dc06e;
  padding-top:.80rem;
  padding-bottom:.90rem;
  padding-left:1rem;
  padding-right:1rem;
  transition: color 1s;
  transition: background-color 1s;
  cursor:pointer;
  color: #fff;
}
.fa-search:hover{
  background-color:#559141;
}
/* modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 30px; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding:20px;
  border: 1px solid #888;
  width: 80%;
  height:90%;
  overflow-y: scroll;
}
.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding:20px;
  border: 1px solid #888;
  width: 80%;
  height:50%;
  
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
.center{
  text-align:center;
  margin-left:40%;
  
}
p{
  text-align:center;
}
.missinIng{
  display:none
}
#modalSub{
  border:2px solid black;
  width:5rem;
  text-align:center;
  margin:auto;
  margin-top:2rem;
  cursor:pointer;
  transition: background-color 1s;
  transition: color 1s;
}
#modalSub:hover{
  background-color:black;
  color:white;
}
.fa-heart{
  margin-top:3rem;
  float:right;
  cursor:pointer;
  transition:color .4s;
  color:black;
}
.fa-heart:hover{
 color:red;
}