body {
     font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
   overflow: auto;
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
      "top top"
      "main main";
      
    height: 100%;
 background-color:	#eef0ee;
  grid-gap:3rem;
}
.topA,.top{
  grid-area:top;
  }
.topA .a div,.topA .a img{
  float:left;
}

#topL{
  float:right;
}


#searchFilter{
  margin:auto;
  margin-top:3rem;
 
}
input#search{
  margin: 0 auto;
  width: 35rem;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
}
 /* end top */

.main{
 
grid-area:main;
display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
      "a b c"
      "d e f";
  margin: 0px;
}
.main span{
   
  border-radius:15px;
  height:25rem;
  width:20rem;
  padding:1rem;
 display:inline;
  padding-top:7rem;
  padding-bottom:7rem; 
  padding-left:5rem;
  padding-right:5rem; 
}
.top{
 
  display:inline-block;

}
.a{
margin:auto;
  background-color:#8FE875;
  width:19rem;
  float:left;
  height:15rem;
  padding:.5rem;
  border-radius:15px;
   margin-left:4rem;
  margin-bottom:4rem;
}


.d{
 margin:auto;
  background-color:#8FE875;
  width:19rem;
  float:left;
  height:15rem;
  padding:.5rem;
  border-radius:15px;
   margin-left:4rem;
}
.img{
  height:6rem;
  width:10rem;
  background-color:black;
}
.name{
float:right;
 font-size:.8rem;
 margin-right:4rem;
}
.prep{
  margin-top:1rem;
}
/*modal */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 30px; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding:20px;
  border: 1px solid #888;
  width: 80%;
  height:90%;
  overflow-y: scroll;
}

.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding:20px;
  border: 1px solid #888;
  width: 80%;
  height:50%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
.center{
  text-align:center;
  margin-left:40%;
  
}
p{
  text-align:center;
}
/*end modal */
.fa-filter{
  border: none;
  background: #6dc06e;
  padding-top:1rem;
  padding-bottom:1rem;
  padding-left:1rem;
  padding-right:1rem;
  transition: color 1s;
  transition: background-color 1s;
  cursor:pointer;
  color: #fff;
}
.fa-filter:hover{
  background-color:#559141;
}

#modalSub{
  border:2px solid black;
  width:5rem;
  text-align:center;
  margin:auto;
  margin-top:2rem;
  cursor:pointer;
  transition: background-color 1s;
  transition: color 1s;
}
#modalSub:hover{
  background-color:black;
  color:white;
}
/* ytool pop up */
.tl {
  
  display: inline-block;
  
}

.tl .tlText {
  visibility: hidden;
  
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
border:1px solid black;
}
.tlText{
margin:auto;
margin-top:-5.4rem;
margin-left:-8rem;

}
.tl:hover .tlText {
  visibility: visible;
}
#output{
  text-align:center
}
