@font-face {
  font-family: logoFont;
  src: url(LogoFont.woff);
}

h1 {
  font-family: logoFont;
  font-size: 125px;
  color: #134611;
}

body {
     font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
   overflow: auto;
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
      
      "main main"
       "left right";
    height: 100%;
 background-color:	#eef0ee;
}

#topL{
  float:right;
}

.title{
  grid-area:main;
  
  
  margin-bottom:5rem;
}
#title{
  text-align:center;
  margin-top:15vh;
}
.left{
  grid-area:left;
  
}
.right{
  grid-area:right;
  
}
.optionBox{
  
    border: none;
    background: #6dc06e;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato';
      font-size: inherit;
      cursor: pointer;
      padding: 25px 80px;
      display: inline-block;
      margin: 15px 30px;
      letter-spacing: 1px;
      font-weight: 700;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s ease;
    text-transform: uppercase;
    color: #fff;
  }
  .optionBox:hover {
    background: #559141;
  } 